body {
    font-family: 'Eczar', serif;
}

header {
    position: sticky;
    top: 0;
    background-color: white;

}

.row-menu {
    height: 70px;
}

.header-menu,
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-menu a {
    font-size: 16px;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    color: #626262;
}

.header-menu a:hover {
    color: black;
}

.image-slide-one {
    background-image: url(./images/main-slide-one.jpg);
    height: 800px;
}

.text-content-one,
.text-content-two {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content-one h1,
.text-content-two h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

.heading-text h1 {
    color: white;
    border-bottom: 2px solid #7fbd5d;
    font-size: 32px;
    height: 54px;
    text-align: center;
    line-height: 64px;
}

.heading-text {
    height: 54px;
    margin-top: -70px;
}

.article-content {
    height: auto;
    border: 0.5px solid #e7eaf0;
    margin: 15px 0 0;
}

.article-content img {
    width: 100%;
    height: 281px;
}

.row-article {
    margin-bottom: 40px;
}

.post-desc,
.desc-diet-box {
    padding: 20px 20px 0;
}

.post-head a {
    line-height: 45px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.post-title,
.title-diet-box {
    color: #626262;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.post-footer {
    padding: 7px 15px;
    background: rgba(0, 0, 0, .02);
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.like-btn a {
    text-decoration: none;
    font-size: 25px;
    line-height: 35px;
    color: #7fbd5d;
}

.like-btn a::before {
    content: "\2661";
    font-size: 25px;
    color: #7fbd5d;
    line-height: 25px;
}

.post-links a {
    text-decoration: none;
    color: #7fbd5d;
    line-height: 30px;
    font-size: 17px;

}

.post-links::before {
    content: "\00A0";
}

.color-block {
    background-color: #7fbd5d;
    height: 122px;
}

.view-all-btn {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.view-all-btn a {
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    border-bottom: 2px solid #000;
    text-align: center;
    color: white;
}

.view-all-btn a::after {
    content: "\2192";
    color: white;
    line-height: 30px;
    font-size: 24px;
}

.image-slide-two {
    background-image: url(./images/main-slide-two.jpg);
}

.diet-box {
    height: 560px;
    margin-top: -25px;
    border: 1px solid #e2e2e2;

}

.diet-box img {
    height: 286px;
    width: 100%;
}

.head-diet-box {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.head-diet-box a {
    text-decoration: none;
    color: black;
}

.title-diet-box {
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

.footer-diet-box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-diet-box a {
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid #7fbd5d;
    background-color: #7fbd5d;
}

.diet-box-margin {
    margin-top: 30px;
}