.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-menu a {
    font-size: 16px;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    color: #626262;
}

.header-menu a:hover {
    color: black;
}