.image-slide-two {
    background-image: url(/src/components/Content/SectionBox/main-slide-two.jpg);
}
.text-content{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-content h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}
.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}