.article-content {
    height: auto;
    border: 0.5px solid #e7eaf0;
    margin: 15px 0 0;
    border-radius: 30px;
}

.article-content img {
    width: 100%;
    height: 281px;
    border-radius: 30px;
}

.row-article {
    margin-bottom: 40px;
}

.post-desc,
.desc-diet-box {
    padding: 20px 20px 0;
}

.post-head a {
    line-height: 45px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.post-head h1 {
    text-align: center;
}

.post-title {
    color: #626262;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.post-footer {
    padding: 7px 15px;
    background: rgba(0, 0, 0, .02);
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.like-btn{
    text-decoration: none;
    font-size: 25px;
    line-height: 35px;
    color: #7fbd5d;
    cursor: pointer;
}

.post-links a {
    text-decoration: none;
    color: #7fbd5d;
    line-height: 30px;
    font-size: 17px;

}

.post-links::before {
    content: "\00A0";
}
.flex-box{
    display: flex;
}
.diet-box {
    height: 560px;
    margin-top: -25px;
    border: 1px solid #e2e2e2;
    margin-bottom: 50px;
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 10%);
}

.diet-box img {
    height: 286px;
    width: 100%;
}

.head-diet-box {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.head-diet-box a {
    text-decoration: none;
    color: black;
}

.title-diet-box {
    margin-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

.footer-diet-box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-diet-box a {
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid #7fbd5d;
    background-color: #7fbd5d;
}

.diet-box-margin {
    margin-top: 30px;
}
.article-content img, .post-head{
    transition: 1s;
}
.article-content img:hover, .post-head:hover{
    transform: scale(1.08);
}