.article-content {
    height: auto;
    border: 0.5px solid #e7eaf0;
    margin: 15px 0 0;
    border-radius: 30px;
}

.article-content img {
    width: 100%;
    height: 281px;
    border-radius: 30px;
}

.row-article {
    margin-bottom: 40px;
}

.post-desc,
.desc-diet-box {
    padding: 20px 20px 0;
}

.post-head a {
    line-height: 45px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.post-title {
    color: #626262;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.post-footer {
    padding: 7px 15px;
    background: rgba(0, 0, 0, .02);
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.like-btn{
    text-decoration: none;
    font-size: 25px;
    line-height: 35px;
    color: #7fbd5d;
    cursor: pointer;
}

.post-links a {
    text-decoration: none;
    color: #7fbd5d;
    line-height: 30px;
    font-size: 17px;

}

.post-links::before {
    content: "\00A0";
}
.flex-box{
    display: flex;
}
