.contact-head-image{
    background-image: url(./home_diet_sectionbg4.jpg);
    height: 700px;
    background-repeat: no-repeat;
}
.icons-color{
    color: #7fbd5d;
    font-size: 100px;
    padding-top: 30px;
}