.content-about-us h1{
    text-align: center;
    font-size: 44px;
    line-height: 56px;
}
.content-about-us h3{
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #7fbd5d;
}
.about-img{
    height: 700px;
    background-image: url(./home_diet_about1.jpg);
}
.parallax{
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
